.page__content p,
.page__content li,
.page__content td,
.page__content span,
.page__content strong {
  font-size: 15px !important;
  line-height: 1.6 !important;
}

.page__content h1 { font-size: 1.8em !important; }
.page__content h2 { font-size: 1.5em !important; }
.page__content h3 { font-size: 1.2em !important; }

.page__content p {
  text-align: justify !important;
}
.author__avatar img {
  object-fit: cover;
}
